version: "3.9"

services:
  app:
    build: .
    user: root
    volumes:
      - .:/var/www/html
      - ./default.conf:/etc/nginx/conf.d/default.conf

  nginx:
    image: nginx:alpine
    ports:
      - "9001:80"
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - .:/var/www/html
    depends_on:
      - app
