@import 'tailwindcss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  @apply bg-gray-100 text-gray-700;
  @apply text-gray-700 text-left;
  font-family: "rubik";
}
h1 {
  @apply text-2xl font-bold text-red-500;
}
h2 {
  @apply text-xl font-bold my-4;
}
h3 {
  @apply text-lg font-bold my-4;
}
ul {
  @apply my-4;
}
p {
  @apply my-2;
}
pre {
  @apply my-1;
}
header {
  @apply bg-white;

  nav {
    @apply flex items-center gap-5 max-w-screen-lg px-12 py-4 mx-auto;
  }
  h1 {
    @apply mr-auto;
  }
}
form {
  @apply max-w-screen-sm;
}
input, select, textarea {
  @apply block w-full mt-2 mb-4;
  background: white;
  border: 1px solid gray;
}

.container {
  @apply max-w-screen-lg mx-auto;
}
.card {
  @apply bg-white rounded border border-gray-200 flex flex-col md:flex-row justify-between items-start;
}
.highlight {
  @apply border-l-4 border-l-red-500;
}
.btn {
  @apply rounded px-3 py-2 bg-gray-200 hover:bg-red-500 hover:text-white;
}
.reg_btn {
  @apply text-blue-600 hover:text-blue-800 underline;
}
.muted {
    color: #6b7280; 
}

